{% extends "layout.html" %}
{% block styles %}
    <style>
         @media (max-width: 1000px){
            .dropdown{
                display: block;
            }
         }
    </style>
{% endblock %}
{% block body %}
<main>

    <div class="container">
        <div class="jumbotron" style="margin-top: 12px; margin-bottom: 20px;">
            <h1 class="display-4" style="font-weight: bold;">🌍 News Alert</h1>
            <p class="lead">Global News, One Destination – Stay Updated Anytime, Anywhere!</p>
            <hr class="my-4">
            <p style="font-size: large;"><em>Breaking stories, top headlines, and in-depth coverage from around the
                    world, all in one place.</em></p>

            <!-- Language Selection Dropdown -->
            <label for="language" class="fs-5 font-weight-bold">Preferred Language ▼ </label>
            <select id="language" class="form-control w-auto mx-auto d-inline" onchange="fetchNews('{{ category }}',this.value)">
                <option value="en">English</option>
                <option value="es">Spanish</option>
                <option value="fr">French</option>
                <option value="hi">Hindi</option>
            </select>

            <br><br>
            <a class="btn btn-primary btn-lg" href="#" role="button">Read Latest News</a>
            <!-- <div class="dropdown" style="display: none;">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Dropdown button
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div> -->

        </div>
         <div id="cardContainer" class="row" style="justify-content: center;">
            
        </div>
    </div>

</main>
{% endblock %}